html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-dark-gray);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-dark-gray: rgba(33, 33, 33, 1);
  --color-campaign-blue: rgba(34, 53, 87, 1);
  --color-campaign-pale-blue: rgba(242, 250, 238, 1);
  --color-campaign-red: #dc3d4b;
  --color-campaign-light-blue: rgba(78, 123, 156, 1);
  /*  
  blue shadow 0px 8px 32px rgba(34, 53, 87, 0.15);
  */
}
h1,
.text-style-heading-1 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2em;
}
h2,
.text-style-heading-2 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2em;
}
h3,
.text-style-heading-3 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2em;
}
body,
button,
.text-style-normal {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5em;
}
small,
.text-style-sub-text {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5em;
}

.text-red {
  color: var(--color-campaign-red);
}

.text-blue {
  color: var(--color-campaign-light-blue);
}

.fade-in {
  animation: fade-in 0.25s ease 0s 1 both;
}
.fade-in-long {
  animation: fade-in 2s ease 0s 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
